<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wan_blog_last.mapper.ListContentMapper">

<resultMap id="listMap" type="com.example.wan_blog_last.entity.ListContent">
    <result property="title" column="title"/>
    <result property="content" column="content"/>
    <result property="time" column="time"/>
</resultMap>
    <select id="getListContent" resultMap="listMap">
        SELECT * FROM list_content LIMIT #{page},9
    </select>
    <insert id="insertListContent" >
        insert into list_content values(#{title},#{content},#{time})
    </insert>
</mapper>